<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer_sec">
            <h5>Need Help?</h5>
            <ul>
              <li><a href="tel:98 930-939-9796"><i class="fa fa-phone" aria-hidden="true"></i> +98 930-939-9796</a></li>
              <li><a href="mailto:info@persiabooking.com"><i class="fa fa-envelope" aria-hidden="true"></i>  info@persiabooking.com</a></li>
            </ul>
            <div class="Follow_us">
              <h5>Follow Us</h5>
              <ul>
                <li><a href="#"><img src="../../../assets/icon/image (4).png"></a></li>
                <li><a href="#"><img src="../../../assets/icon/image (5).png"></a></li>
                <li><a href="#"><img src="../../../assets/icon/image (6).png"></a></li>
                <li><a href="#"><img src="../../../assets/icon/image (7).png"></a></li>
                <li><a href="#"><img src="../../../assets/icon/image (8).png"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer_sec">
            <h5>Company</h5>
            <ul>
              <li id="" class=""><a [routerLink]="'/about'">About Us</a></li>
              <li><a [routerLink]="'/blog'">Blog</a></li>
              <li><a [routerLink]="'/rewards'">Rewards</a></li>
              <li><a [routerLink]="'/work-with-us'">Work with us</a></li>
                <li><a [routerLink]="'/meet-the-team'">Meet the Team</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer_sec">
            <h5>Support</h5>
            <ul>
              <li><a href="#">Account</a></li>
              <li><a [routerLink]="'/legal'">Legal</a></li>
              <li id="" class=""><a href="#" href="#" [routerLink]="'/contact'">Contact Us</a></li>
              <li><a [routerLink]="'/privacy-policy'">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer_sec">
            <h5>Services</h5>
            <ul>
              <li id="" class=""><a  [routerLink]="'/insurance'">Insurance</a></li>
              <li><a [routerLink]="'/insurance'">Iran Travel Insurance</a></li>
              <li><a [routerLink]="'/aiport-cip-services'">Airport CIP Services</a></li>
              <li><a [routerLink]="'/iran_visa'">Iran Visa Services</a></li>
              <li><a [routerLink]="'/simcard'">Iran SIM Card</a></li>
              <li id="" class=""><a [routerLink]="'/tourist_card'">Tourist Payment Card</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="footer_sec">
            <h5>For Partners</h5>
            <ul>
              <li><a [routerLink]="'/hotel'">Hotel</a></li>
              <li><a [routerLink]="'/hostel'">Hostel</a></li>
              <li><a href="#">Tour Guide</a></li>
              <li><a href="#">Hotel</a></li>
              <li><a href="#">Hostel</a></li>
              <li><a [routerLink]="'/tourguide'">Tour Guide</a></li>
              <li><a [routerLink]="'/car'">Car</a></li>
              <li><a [routerLink]="'/transfer'">Transfer</a></li>
              <li><a href="#">Tour Operator</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer_sec">
              <h5>Destinations</h5>
              <ul>
                <li id="" class=""><a [routerLink]="'/about_iran'">About Iran</a></li>
                <li><a href="#">Tehran</a></li>
                <li><a href="#">Isfahan</a></li>
                <li><a href="#">Shiraz</a></li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="Follow_us">
          <div class="accept_pay">
            <h3>We Accept</h3>
            <ul>
              <li><a href="#"><img src="../../../assets/icon/visa.jpg"></a></li>
              <li><a href="#"><img src="../../../assets/icon/maestro-card.jpg"></a></li>
              <li><a href="#"><img src="../../../assets/icon/amex.jpg"></a></li>
              <li><a href="#"><img src="../../../assets/icon/image (3).png"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="bootom_footer">
    <div class="container">
      <div class="row">
        <p>Copyright @ Persia Booking All Rights Reserved Legal Notice</p>
  
      </div>
    </div>
  </div>