<section>
  <div class="banner"  width="100%">
    <div class="banner_overlay">
      <div class="container">
        <div class="content_bann">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="container location_section">
  <div class="row col-md-12">
    <div class="col-md-2 col-md-offset-1 col-xs-6 col-sm-6">
      <div>
        <p class="form_to">FROM</p>
        <p class="select_location">Delhi</p>
        <p class="sub_locaiton">Delhi Airport India</p>
      </div>
      <span class="root_icon"><i class="fa fa-exchange" aria-hidden="true"></i></span>
    </div>
    <div class="col-md-2 col-xs-6 col-sm-6">
      <div>
        <p class="form_to">TO</p>
        <p class="select_location">Old Delhi</p>
        <p class="sub_locaiton">India</p>
      </div>
    </div>
    <div class="col-md-2 col-xs-12 col-sm-6">
      <div>
        <div class="row" style="padding-bottom: 5px;">
          <div>
            <p class="form_to">ARRIVAL DATE & TIME <i class="fa fa-angle-down" aria-hidden="true"></i></p>
            <p class="select_date">8 Aug 2020, 9AM</p>
            <p class="sub_locaiton">Saturday</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-12 col-sm-6">
      <div>
        <div class="row" style="padding-bottom: 5px;">
          <div>
            <p class="form_to">RETURN DATE & TIME <i class="fa fa-angle-down" aria-hidden="true"></i></p>
            <p class="select_date">9 Aug 2020, 7PM</p>
            <p class="sub_locaiton">Saturday</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-12 col-sm-12">
      <div>
        <div class="row" style="padding-bottom: 5px;">
          <div>
            <p class="form_to">ADVANCE <i class="fa fa-angle-down" aria-hidden="true"></i></p>
            <p class="advance_para">-</p>
          </div>
        </div>
      </div>
    </div>
</div>
  
  <div class="row">
    <div class="vehical_btn text-center">
      <button type="button" class="btn">Search</button>
    </div>
  </div>
</div> -->
<div class="search_box_section">
  <div class="container">
    <div class="searchbox row">
      <div class="col-md-4 col-sm-6 col-xs-6 border_mid search_filed mbl_pad">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <label for="username">Pick-up From</label><br>
            <i class="fa fa-map-marker" aria-hidden="true"><input type="text" id="username" class="form-control custome_control" placeholder="Enter your origin" name="username"></i>  
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <label for="username">Drop of to:</label><br>
            <i class="fa fa-map-marker" aria-hidden="true"><input type="text" id="username" class="form-control custome_control" placeholder="Enter your destination" name="username"></i>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 search_filed mbl_pad">
        
        <div class="col-md-6 col-sm-12 col-xs-12 mb-20">
          <label for="username">Pick up Time</label><br>
            <input type="date" class="date_birth datepicker" id="birthday" name="birthday">
        </div>

        <div class="col-md-6 col-sm-12 col-xs-12 mb-20">
          <label for="username">Return Time</label><br>
            <input type="date" class="date_birth datepicker" id="birthday" name="birthday">
        </div>
        
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6 search_filed">
        <div class="col-md-12 col-sm-12 col-xs-12 mb-20">
          <label for="username">Passengers</label><br>
      <select class="browser-default custom-select">
        <option selected>1</option>
        <option value="1">2</option>
        <option value="2">3</option>
        <option value="3">4</option>
      </select>
        </div>
        
      </div>
    <div class="col-md-1 col-sm-12 col-xs-12 search_btn">
      <button type="submit" class="btn btn_search">Search</button>
  </div>
    </div>
  </div>
</div>
<!--car top three section-->
<div class="top_three_section">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-xs-12   col-sm-4">
      <div class="icon_div">
        <div>
          <i class="fa fa-recycle" aria-hidden="true"></i> 
        </div>
      </div>
      <div class="icon_info">
        <div>
          <h4>24/7 Customer Care</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat dolores quae a</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-4">
      <div class="icon_div">
        <div>
          <i class="fa fa-recycle" aria-hidden="true"></i> 
        </div>
      </div>
      <div class="icon_info">
        <div>
          <h4>Free Cancellation</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat dolores quae a</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 col-sm-4">
      <div class="icon_div">
        <div>
          <i class="fa fa-recycle" aria-hidden="true"></i> 
        </div>
      </div>
      <div class="icon_info">
        <div>
          <h4>No Hidden Cost</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat dolores quae a</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Browse by Categories -->
<div class="container categories_browse">
  <div>
    <h2 class="text-center">Browse by Categories</h2>
    <div class="underline"></div>
  </div>
  <div  class="car_categories">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div>
          <img src="../../../assets/icon/vehicles.png" alt="car image" width="100%">
          <h5>Sedan</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div>
          <img src="../../../assets/icon/vehicles.png" alt="car image" width="100%">
          <h5>Sedan</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div>
          <img src="../../../assets/icon/vehicles.png" alt="car image" width="100%">
          <h5>Sedan</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div>
          <img src="../../../assets/icon/vehicles.png" alt="car image" width="100%">
          <h5>Sedan</h5>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div>
          <img src="../../../assets/icon/vehicles.png" alt="car image" width="100%">
          <h5>Sedan</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div>
          <img src="../../../assets/icon/vehicles.png" alt="car image" width="100%">
          <h5>Sedan</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div>
          <img src="../../../assets/icon/vehicles.png" alt="car image" width="100%">
          <h5>Sedan</h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div>
          <img src="../../../assets/icon/vehicles.png" alt="car image" width="100%">
          <h5>Sedan</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Trending car section-->
<section class="about_slide">
  <div class="about_slide_overlay">
  <div class="container">
    <h2 class="text-center">Trending Car</h2>
    <div class="underline"></div>
    <div class="slider">
      <div class="col-md-4">
        <div class="trending">
          <div class="trending_activity" style="background-image: url(../../../assets/icon/vehicles.png)">  
          </div>

          <div class="trending_activity_content">
            <p>Convertibles</p>
            <h4>Mercedes Benz 2019</h4>            
              <div class="car_feature_iocn">
                <ul>
                  <li><i class="fa fa-users" aria-hidden="true"></i> <p>4</p></li>
                  <li><i class="fa fa-repeat" aria-hidden="true"></i> <p>Auto</p></li>
                  <li><i class="fa fa-suitcase" aria-hidden="true"></i> <p>2</p></li>
                  <li><i class="fa fa-car" aria-hidden="true"></i> <p>4</p></li>
                </ul>                
              </div>
            <p class="kilometer">12.3/kilometer</p>
          </div>
        </div>
      </div>

      
      <div class="col-md-4">
        <div class="trending">
          <div class="trending_activity" style="background-image: url(../../../assets/icon/vehicles.png)">
            
          </div>

          <div class="trending_activity_content">
            <p>Convertibles</p>
            <h4>Mercedes Benz 2019</h4>            
              <div class="car_feature_iocn">
                <ul>
                  <li><i class="fa fa-users" aria-hidden="true"></i> <p>4</p></li>
                  <li><i class="fa fa-repeat" aria-hidden="true"></i> <p>Auto</p></li>
                  <li><i class="fa fa-suitcase" aria-hidden="true"></i> <p>2</p></li>
                  <li><i class="fa fa-car" aria-hidden="true"></i> <p>4</p></li>
                </ul>                
              </div>
            <p class="kilometer">12.3/kilometer</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="trending">
          <div class="trending_activity" style="background-image: url(../../../assets/icon/vehicles.png)">
            
          </div>
          <div class="trending_activity_content">
            <p>Convertibles</p>
            <h4>Mercedes Benz 2019</h4>            
              <div class="car_feature_iocn">
                <ul>
                  <li><i class="fa fa-users" aria-hidden="true"></i> <p>4</p></li>
                  <li><i class="fa fa-repeat" aria-hidden="true"></i> <p>Auto</p></li>
                  <li><i class="fa fa-suitcase" aria-hidden="true"></i> <p>2</p></li>
                  <li><i class="fa fa-car" aria-hidden="true"></i> <p>4</p></li>
                </ul>                
              </div>
            <p class="kilometer">12.3/kilometer</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="trending">
          <div class="trending_activity" style="background-image: url(../../../assets/icon/vehicles.png)">
            
          </div>
          <div class="trending_activity_content">
            <p>Convertibles</p>
            <h4>Mercedes Benz 2019</h4>            
              <div class="car_feature_iocn">
                <ul>
                  <li><i class="fa fa-users" aria-hidden="true"></i> <p>4</p></li>
                  <li><i class="fa fa-repeat" aria-hidden="true"></i> <p>Auto</p></li>
                  <li><i class="fa fa-suitcase" aria-hidden="true"></i> <p>2</p></li>
                  <li><i class="fa fa-car" aria-hidden="true"></i> <p>4</p></li>
                </ul>                
              </div>
            <p class="kilometer">12.3/kilometer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<!--how does it works-->
<div class="how_it_work_section">
  <div class="container">
    <div>
      <h2 class="text-center">How Does it Work</h2>
      <div class="underline"></div>
    </div>
    <div class="row">      
      <div class="col-md-4 col-xs-12 col-sm-4">
        <div class="icon_div">
          <div>
            <p class="how_does_num"></p>
          <h2 class="how_does_step">1</h2>
          </div>
        </div>
        <div class="icon_info">
          <div>
            <h4>Find the Car</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat dolores quae a</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4">
        <div class="icon_div">
          <div>
            <p class="how_does_num"></p>
          <h2 class="how_does_step">2</h2>
          </div>
        </div>
        <div class="icon_info">
          <div>
            <h4>Book It</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat dolores quae a</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12 col-sm-4">
        <div class="icon_div">
          <div>
            <p class="how_does_num"></p>
          <h2 class="how_does_step">3</h2>
          </div>
        </div>
        <div class="icon_info">
          <div>
            <h4>Grab and Gor</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat dolores quae a</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Top destination-->
<section class="top_destination">
  <div class="container">
    <div class="row">
      <h2>Top Destination</h2>
      <div class="underline"></div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home2.jpg)">
          <div class="overlay_top_destination">
            <h3>Tehran</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home3.jpg)">
          <div class="overlay_top_destination">
            <h3>Isfashan</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home1.jpg)">
          <div class="overlay_top_destination">
            <h3>Shiraz</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home.jpg)">
          <div class="overlay_top_destination">
            <h3>Tehran</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home6.jpg)">
          <div class="overlay_top_destination">
            <h3>Isfashan</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home5.jpg)">
          <div class="overlay_top_destination">
            <h3>Shiraz</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--email update section-->

