
  <section>
    <div class="banner" style="background-image:url('../../../assets/activity/vlad-hilitanu-lIm5RtGPrQs-unsplash.jpg')">

    </div>
  </section>
  <div class="search_box_section">
    <div class="container">
      <div class="searchbox row">
        <div class="col-md-4 col-sm-6 col-xs-6 border_mid search_filed mbl_pad">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <label for="username">Destination</label><br>
              <i class="fa fa-map-marker" aria-hidden="true"><input type="text" id="username" class="form-control custome_control" placeholder="Enter your origin" name="username"></i>  
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-6 search_filed mbl_pad">
          <div class="col-md-6 col-sm-12 col-xs-12 mb-20">
            <label for="username">Pick Up Date/Time</label><br>
              <input type="date" class="date_birth datepicker" id="birthday" name="birthday">
          </div>
        </div>


        <div class="col-md-3 col-sm-12 col-xs-12 search_filed ">
          <label for="username">Activity</label><br>
          <select class="browser-default custom-select">
            <option *ngFor="let dl of list">{{dl}}</option>
          </select>
        </div>
        


      <div class="col-md-1 col-sm-12 col-xs-12 search_btn">
        <button type="submit" class="btn btn_search">Search</button>
    </div>
      </div>
    </div>
  </div>
  <section class="about_slide">
    <div class="container">
      <h2>Trending Activities</h2>
      <div class="underline"></div>
      <div class="slider">
        <div class="col-md-4">
          <div class="trending">
            <div class="trending_activity" style="background-image: url(../../../assets/home/home.jpg)">
              
            </div>
            <div class="trending_activity_content">
              <p>Location</p>
              <h4>Adventure Cycling</h4>
              <p><i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                4 reviews</p>
              <p>from 12.3</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="trending">
            <div class="trending_activity" style="background-image: url(../../../assets/home/home.jpg)">
              
            </div>
            <div class="trending_activity_content">
              <p>Location</p>
              <h4>Adventure Cycling</h4>
              <p><i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                4 reviews</p>
              <p>from 12.3</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="trending">
            <div class="trending_activity" style="background-image: url(../../../assets/home/home.jpg)">
              
            </div>
            <div class="trending_activity_content">
              <p>Location</p>
              <h4>Adventure Cycling</h4>
              <p><i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                4 reviews</p>
              <p>from 12.3</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="trending">
            <div class="trending_activity" style="background-image: url(../../../assets/home/home.jpg)">
              
            </div>
            <div class="trending_activity_content">
              <p>Location</p>
              <h4>Adventure Cycling</h4>
              <p><i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                4 reviews</p>
              <p>from 12.3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
<div class="container">
    <div class="row">
      
    <div class="col-md-4 col-sm-12 col-xs-12 search_filed ">
      <label for="username">Country</label><br>
      <select class="browser-default custom-select" placeholder="Country" [(ngModel)]="selectedCountry" (change)="changeCountry($event.target.value)">
        <option>--Choose Country--</option>
        <option *ngFor="let country of Countries">{{country.name}}</option>
      </select>
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12 search_filed ">
      <label for="username">State</label><br>
      <select placeholder="State" class="browser-default custom-select" (change)="changeState($event.target.value)">
        <option>--Choose state--</option>
        <option *ngFor="let state of states">{{state.name}}</option>
      </select>
    </div>


    <div class="col-md-4 col-sm-12 col-xs-12 search_filed ">
      <label for="username">City</label><br>
      <select placeholder="City" class="browser-default custom-select">
        <option *ngFor="let city of cities">{{city}}</option>
      </select>
    </div>

  </div>
</div>
  </section>


  <section class="top_destination">
    <div class="container">
      <div class="row">
        <h2>Top Destination</h2>
        <div class="underline"></div>
        <div class="col-md-4 col-sm-4">
          <div class="top_destination_content" style="background-image: url(../../../assets/home/home2.jpg)">
            <div class="overlay_top_destination">
              <h3>Tehran</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="top_destination_content" style="background-image: url(../../../assets/home/home3.jpg)">
            <div class="overlay_top_destination">
              <h3>Isfashan</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="top_destination_content" style="background-image: url(../../../assets/home/home1.jpg)">
            <div class="overlay_top_destination">
              <h3>Shiraz</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="top_destination_content" style="background-image: url(../../../assets/home/home.jpg)">
            <div class="overlay_top_destination">
              <h3>Tehran</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="top_destination_content" style="background-image: url(../../../assets/home/home6.jpg)">
            <div class="overlay_top_destination">
              <h3>Isfashan</h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="top_destination_content" style="background-image: url(../../../assets/home/home5.jpg)">
            <div class="overlay_top_destination">
              <h3>Shiraz</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- start count stats -->

<section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s" style="background-image: url('../../../assets/activity/vlad-hilitanu-lIm5RtGPrQs-unsplash.jpg');">
    <div class="overlay_counter">
        <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="traveller">
                  <div class="col-md-3">
                    <img src="../../../assets/activity/mission.png">
                  </div>
                  <div class="col-md-9">
                    <h4>1000+ <br>Local guides</h4>
                    <p>Lorem ispum dolor amet</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="traveller">
                  <div class="col-md-3">
                    <img src="../../../assets/activity/pin.png">
                  </div>
                  <div class="col-md-9">
                    <h4>Handcrafted <br>Experiences</h4>
                    <p>Lorem ispum dolor amet</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4">
                <div class="traveller">
                  <div class="col-md-3">
                    <img src="../../../assets/activity/jump.png">
                  </div>
                  <div class="col-md-9">
                    <h4>96% <br>Happy traveller</h4>
                    <p>Lorem ispum dolor amet</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>