<section>
  <div class="banner" width="100%">
    <div class="banner_overlay">
      <div class="container">
        <div class="content_bann">
          <!-- <h2>About Us</h2>
            <p><a href="#">Home</a> > <a href="#">About Us</a></p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="search_box_section">
  <div class="container">
    <div class="searchbox row">
      <div class="col-md-3 col-sm-6 col-xs-6 border_mid search_filed mbl_pad">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <label for="username">Destination:</label><br>
          <i class="fa fa-map-marker" aria-hidden="true"><input type="text" id="username"
              class="form-control custome_control" (keydown.enter)="$event.preventDefault()" #search
              placeholder="Enter your origin" name="username"></i>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 search_filed mbl_pad">
        <div class="col-md-6 col-sm-12 col-xs-12 mb-20">
          <label for="username">Check out</label><br>
          <input type="date" class="date_birth datepicker" id="birthday" name="birthday">
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 mb-20">
          <label for="username">Check out</label><br>
          <input type="date" class="date_birth datepicker" id="birthday" name="birthday">
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 search_filed ">
        <label for="username">Guest</label><br>
        <select class="browser-default custom-select">
          <option selected>1</option>
          <option value="1">2</option>
          <option value="2">3</option>
          <option value="3">4</option>
        </select>
      </div>
      <div class="col-md-1 col-sm-12 col-xs-12 search_btn">
        <button type="submit" class="btn btn_search">Search</button>
      </div>
    </div>
  </div>
</div>

<section class="trending">
  <div class="container">
    <div class="row">
      <h2>Accommodations Iran Hotel</h2>
      <div class="underline"></div>
      <div id="exTab1" class="container">
        <ul class="nav nav-pills trending_tab">
          <li class="active">
            <a data-toggle="tab">Hotel Appartment</a>
          </li>
          <li><a data-toggle="tab">Traditional Hotel</a>
          </li>
          <li><a data-toggle="tab">Eco Tourism Resort</a>
          </li>
        </ul>
        <div class="row">
          <div class="tab-content clearfix">
            <div class="tab-pane active" id="1a"
              *ngFor="let hotel of hotelDetails | paginate:{itemsPerPage: 4, currentPage:p};">

              <div class="col-md-3 col-sm-4">
                <div>
                  <figure>
                    <!-- <div>
                        <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions"
                          [containerStyle]="{'max-width': '660px'}" [numVisible]="5"
                          thumbnailsPosition="top">
                          <ng-template pTemplate="item" let-item>
                            <img [src]="item.url" style="width: 100%; display: block;" />
                           </ng-template>
                          <ng-template pTemplate="thumbnail" let-item>
                            <div class="p-grid p-nogutter p-justify-center">
                              <img [src]="item.url" />
                            </div>
                          </ng-template>
                        </p-galleria> 
                      </div> -->

                    <div>
                      <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true"
                        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
                        <ng-template let-product pTemplate="item">
                          <div class="product-item">
                            <div class="product-item-content">
                              <div class="p-mb-3">
                              </div>
                              <div>
                                <img style="width:100%;height:140px;" [src]="product.url" alt=""
                                  (error)="changeSource($event)" />
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </p-carousel>
                    </div>

                    <span class="trending-label">
                      {{(hotel?.name?.length > 15)? (hotel?.name | slice:0:10) + '...':(hotel?.name)}}</span>
                    <div class="fig_content hotel-list-card">
                      <perfect-scrollbar style="max-width: 600px; max-height: 400px;" [config]="config">
                        <h3 class="font-weight-bold">
                          {{(hotel?.name?.length > 15)? (hotel?.name | slice:0:10) + '...':(hotel?.name)}} </h3>

                        <div *ngIf="hotel.star == 1">
                          <div>
                            <ngx-stars [readonly]="true" [initialStars]="1" [readonly]="true"
                              [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                            </ngx-stars>
                            <div class="pull-right star_no">
                              {{hotel?.star}}
                            </div>
                            <!-- <p class="pull-right">{{hotel?.star}}</p> -->
                          </div>
                        </div>

                        <div *ngIf="hotel.star == 2">
                          <div>
                            <div>
                              <ngx-stars [readonly]="true" [initialStars]="2" [readonly]="true"
                                [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                              </ngx-stars>
                            </div>
                            <div class="pull-right star_no">
                              {{hotel?.star}}
                            </div>
                            <!-- <p class="pull-right">{{hotel?.star}}</p> -->
                          </div>
                        </div>

                        <div *ngIf="hotel.star == 3">
                          <div>
                            <ngx-stars [readonly]="true" [initialStars]="3" [readonly]="true"
                              [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                            </ngx-stars>
                            <div class="pull-right star_no">
                              {{hotel?.star}}
                            </div>
                          </div>

                          <!-- <p class="pull-right">{{hotel?.star}}</p> -->
                        </div>

                        <div *ngIf="hotel.star == 4">
                          <div>
                            <ngx-stars [readonly]="true" [initialStars]="4" [readonly]="true"
                              [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                            </ngx-stars>
                            <!-- <p class="pull-right star_no">{{hotel?.star}}</p> -->
                            <div class="pull-right star_no">
                              {{hotel?.star}}
                            </div>
                          </div>
                        </div>

                        <div *ngIf="hotel.star == 5">
                          <div>
                            <ngx-stars [readonly]="true" [initialStars]="5" [readonly]="true"
                              [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                            </ngx-stars>
                            <div class="pull-right star_no">
                              {{hotel?.star}}
                            </div>
                          </div>
                          <!-- <p class="pull-right star_no">{{hotel?.star}}</p> -->
                        </div>
                        <div class="clearfix"></div>

                        <div>
                          <p>{{ hotel.country }}</p>
                        </div>
                        <!-- <p>{{ hotel.city }}</p> -->

                        <!-- Hotel Street -->
                        <div *ngIf="hotel.street != ''">
                          <p pTooltip="Hotel Street " tooltipPosition="right">
                            {{(hotel?.street?.length > 20)? (hotel?.street | slice:0:10) + '...':(hotel?.street)}}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle pull-right"
                              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                              <path
                                d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                              <circle cx="8" cy="4.5" r="1" />
                            </svg></p>
                        </div>

                        <!-- Hotel description -->
                        <div *ngIf="hotel.desc != ''">
                          <p pTooltip="Hotel Description" tooltipPosition="right">
                            {{(hotel?.desc?.length > 20)? (hotel?.desc | slice:0:10) + '...':(hotel?.desc)}}
                            <a style="cursor: pointer;" [pTooltip]="hotel?.desc" tooltipPosition="right">
                              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle pull-right"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                  d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                  d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z" />
                                <circle cx="8" cy="4.5" r="1" />
                              </svg>
                            </a>
                          </p>
                        </div>
                        <div>
                          <img class="google-map-icon" src="../../assets/hotel/gmap.png" pTooltip="Click on google map"
                            placeholder="Right" data-toggle="modal" data-target="#google-map-modal" alt="" />
                        </div>
                      </perfect-scrollbar>
                    </div>
                  </figure>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination for hotel list -->
  <div style="margin-top:20px !important ;padding-top: 20px !important;">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
  </div>
</section>


<!-- New Hotel UI  Start -->
<section class="horizontal-hotel-section">
  <div class='container-fluid'>
    <div class="form-group">
      <label for="hotelList">Select Hotel</label>
      <select class="form-control" id="hotelList" [(ngModel)]="searchHotelFilter">
        <option>Please select atleast one hotel</option>
        <option *ngFor="let hotel of hotelDetails;">{{ hotel?.star }}</option>
      </select>
    </div>
    <div class="row"> 
      <div class="col-lg-8 horizontal-list">
        <div *ngIf="hotelDetails.length > 0">
          <div *ngFor="let hotel of hotelDetails |filter:searchHotelFilter;let i=index;">
            <div class='blog-posts'>
              <perfect-scrollbar [config]="config">
                <div class='post featured'>
                  <a>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class='image'>
                          <div>
                            <a [routerLink]="['/hotel/view-deals', hotel.id]">
                              <img style="width:100%;height:140px;" (click)="getSingleHotel(hotel)" [src]="images[i]?.url" alt=""
                              (error)="changeSource($event)" />
                            </a>
                            
                            <div class='date badge badge-secondary custom-badge-cls'>
                              {{hotel.images.length >0 ? '1/' + hotel.images.length : '0/' + hotel.images.length }}
                            </div>
                          </div>
                          <div class='time'>
                            <!-- <div class='date'>04</div> -->
                            <div class='month'>APR</div>
                            <!-- <div class='date'>{{hotel?.name}}</div> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class='content'>
                          <h1 class="hotel-name-cls">
                            {{(hotel?.name?.length > 15)? (hotel?.name | slice:0:10) + '...':(hotel?.name)}}</h1>
                          <div class="quick-info">
                            <div *ngIf="hotel.star == 1">
                              <div>
                                <ngx-stars [readonly]="true" [initialStars]="1" [readonly]="true"
                                  [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                                </ngx-stars>
                                <div class="pull-right star_no">
                                  <!-- {{hotel?.star}} -->
                                </div>
                                <!-- <p class="pull-right">{{hotel?.star}}</p> -->
                              </div>
                            </div>

                            <div *ngIf="hotel.star == 2">
                              <div>
                                <div>
                                  <ngx-stars [readonly]="true" [initialStars]="2" [readonly]="true"
                                    [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                                  </ngx-stars>
                                </div>
                                <div class="pull-right star_no">
                                  <!-- {{hotel?.star}} -->
                                </div>
                                <!-- <p class="pull-right">{{hotel?.star}}</p> -->
                              </div>
                            </div>

                            <div *ngIf="hotel.star == 3">
                              <div>
                                <ngx-stars [readonly]="true" [initialStars]="3" [readonly]="true"
                                  [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                                </ngx-stars>
                                <div class="pull-right star_no">
                                  <!-- {{hotel?.star}} -->
                                </div>
                              </div>

                              <!-- <p class="pull-right">{{hotel?.star}}</p> -->
                            </div>

                            <div *ngIf="hotel.star == 4">
                              <div>
                                <ngx-stars [readonly]="true" [initialStars]="4" [readonly]="true"
                                  [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                                </ngx-stars>
                                <!-- <p class="pull-right star_no">{{hotel?.star}}</p> -->
                                <div class="pull-right star_no">
                                  <!-- {{hotel?.star}} -->
                                </div>
                              </div>
                            </div>

                            <div *ngIf="hotel.star == 5">
                              <div>
                                <ngx-stars [readonly]="true" [initialStars]="5" [readonly]="true"
                                  [customStarIcons]="heartIcons" [color]="'#FDCC0D'">
                                </ngx-stars>
                                <div class="pull-right star_no">
                                  <!-- {{hotel?.star}} -->
                                </div>
                              </div>
                              <!-- <p class="pull-right star_no">{{hotel?.star}}</p> -->
                            </div>
                            <p data-qa="accommodation-type" class="accommodation-type">Hotel</p>
                          </div>
                          <div class="location ov-hidden" data-qa="item-location-details">
                            <div class="item-link">
                              <span class="icon-ic location-ic icon-center">
                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="24"
                                  height="24" viewBox="0 0 24 24">
                                  <g class="svg-color--primary" fill="#37454D" fill-rule="evenodd">
                                    <path
                                      d="M12 5C9.8 5 8 6.8 8 9s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 7c-1.6 0-3-1.4-3-3s1.4-3 3-3 3 1.4 3 3-1.4 3-3 3z">
                                    </path>
                                    <path
                                      d="M18 8.2C17.6 5.3 15 3 12 3S6.4 5.3 6 8.2V9c0 .7.1 1.4.4 2.1l4.8 9.4c.2.3.5.5.9.5s.7-.2.9-.5l4.8-9.4c.1-.7.2-1.4.2-2.1v-.8zm-1.3 2.5L12 20l-4.7-9.3C7.1 10.2 7 9.6 7 9v-.6C7.4 5.9 9.5 4 12 4s4.6 1.9 5 4.4V9c0 .6-.1 1.2-.3 1.7z">
                                    </path>
                                  </g>
                                </svg>
                              </span>
                              <p class="details-paragraph details-paragraph--location location-details">1.7 km to City
                                centre
                              </p>
                              <span class="icon-ic slideout-toggle-ic icon-contain"><svg
                                  xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="10"
                                  height="6" viewBox="0 0 10 6">
                                  <path class="svg-color--primary"
                                    d="M0 1A.999.999 0 011.707.293L5 3.586 8.293.293a.999.999 0 111.414 1.414l-4 4a.999.999 0 01-1.414 0l-4-4A.997.997 0 010 1"
                                    fill="#697379" fill-rule="evenodd"></path>
                                </svg></span>
                            </div>
                            <div class="item-link">
                              <span class="icon-ic location-ic icon-center">
                                <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="24"
                                  height="24" viewBox="0 0 24 24">
                                  <g class="svg-color--primary" fill="#37454D" fill-rule="evenodd">
                                    <path
                                      d="M12 5C9.8 5 8 6.8 8 9s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 7c-1.6 0-3-1.4-3-3s1.4-3 3-3 3 1.4 3 3-1.4 3-3 3z">
                                    </path>
                                    <path
                                      d="M18 8.2C17.6 5.3 15 3 12 3S6.4 5.3 6 8.2V9c0 .7.1 1.4.4 2.1l4.8 9.4c.2.3.5.5.9.5s.7-.2.9-.5l4.8-9.4c.1-.7.2-1.4.2-2.1v-.8zm-1.3 2.5L12 20l-4.7-9.3C7.1 10.2 7 9.6 7 9v-.6C7.4 5.9 9.5 4 12 4s4.6 1.9 5 4.4V9c0 .6-.1 1.2-.3 1.7z">
                                    </path>
                                  </g>
                                </svg>
                              </span>
                              <p class="details-paragraph details-paragraph--location location-details">
                                <strong>Excellent</strong><br>
                                <span>(830 Reviews)</span>
                              </p>
                              <span class="icon-ic slideout-toggle-ic icon-contain"><svg
                                  xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="10"
                                  height="6" viewBox="0 0 10 6">
                                  <path class="svg-color--primary"
                                    d="M0 1A.999.999 0 011.707.293L5 3.586 8.293.293a.999.999 0 111.414 1.414l-4 4a.999.999 0 01-1.414 0l-4-4A.997.997 0 010 1"
                                    fill="#697379" fill-rule="evenodd"></path>
                                </svg></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <div class="PriceInfo">
                          <!-- <h5>Sheraton</h5> -->
                          <h5 pTooltip="Hotel Street " tooltipPosition="left" class="hotel-street-cls">
                            {{(hotel?.street?.length > 15)? (hotel?.street | slice:0:10) + '...':(hotel?.street)}}</h5>
                          <strong> ₹6,899</strong>
                          <a pTooltip="Go to view deals page!" tooltipPosition="left" routerLink="/hotel/view-deals"
                            style="float: right;">View Dial</a>
                        </div>
                        <div style="display: flex;">
                          <div class="PriceMain">
                            <div class="BookingCom">
                              <span>Booking.com</span><br>
                              <strong>₹6,899</strong>
                            </div>
                          </div>
                          &nbsp;
                          <div class="PriceMain">
                            <div class="LowPrice">
                              <span>Lowest Price</span><br>
                              <strong>₹6,899</strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </perfect-scrollbar>
            </div>

          </div>
        </div>
        <div *ngIf="hotelDetails.length == 0">
          <img src="../../assets/404-2.png" alt="">
        </div> 
        <!-- <div class='blog-posts'>
          <div class='post featured'>
            <a href='#'>
              <div class='image' style='background-image: url(https://unsplash.it/600/400/?random)'>
                <div class='time'>
                  <div class='date'>04</div>
                  <div class='month'>APR</div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class='content'>
                    <h1>Sheraton Grand Pune Bund Garden Hotel</h1>
                    <div class="quick-info">
                      <p data-qa="accommodation-type" class="accommodation-type">Hotel</p>
                    </div>
                    <div class="location ov-hidden" data-qa="item-location-details">
                      <div class="item-link">
                        <span class="icon-ic location-ic icon-center">
                          <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="24" height="24"
                            viewBox="0 0 24 24">
                            <g class="svg-color--primary" fill="#37454D" fill-rule="evenodd">
                              <path
                                d="M12 5C9.8 5 8 6.8 8 9s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 7c-1.6 0-3-1.4-3-3s1.4-3 3-3 3 1.4 3 3-1.4 3-3 3z">
                              </path>
                              <path
                                d="M18 8.2C17.6 5.3 15 3 12 3S6.4 5.3 6 8.2V9c0 .7.1 1.4.4 2.1l4.8 9.4c.2.3.5.5.9.5s.7-.2.9-.5l4.8-9.4c.1-.7.2-1.4.2-2.1v-.8zm-1.3 2.5L12 20l-4.7-9.3C7.1 10.2 7 9.6 7 9v-.6C7.4 5.9 9.5 4 12 4s4.6 1.9 5 4.4V9c0 .6-.1 1.2-.3 1.7z">
                              </path>
                            </g>
                          </svg>
                        </span>
                        <p class="details-paragraph details-paragraph--location location-details">1.7 km to City centre
                        </p>
                        <span class="icon-ic slideout-toggle-ic icon-contain"><svg xmlns="http://www.w3.org/2000/svg"
                            focusable="false" tabindex="-1" width="10" height="6" viewBox="0 0 10 6">
                            <path class="svg-color--primary"
                              d="M0 1A.999.999 0 011.707.293L5 3.586 8.293.293a.999.999 0 111.414 1.414l-4 4a.999.999 0 01-1.414 0l-4-4A.997.997 0 010 1"
                              fill="#697379" fill-rule="evenodd"></path>
                          </svg></span>
                      </div>
                      <div class="item-link">
                        <span class="icon-ic location-ic icon-center">
                          <svg xmlns="http://www.w3.org/2000/svg" focusable="false" tabindex="-1" width="24" height="24"
                            viewBox="0 0 24 24">
                            <g class="svg-color--primary" fill="#37454D" fill-rule="evenodd">
                              <path
                                d="M12 5C9.8 5 8 6.8 8 9s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4zm0 7c-1.6 0-3-1.4-3-3s1.4-3 3-3 3 1.4 3 3-1.4 3-3 3z">
                              </path>
                              <path
                                d="M18 8.2C17.6 5.3 15 3 12 3S6.4 5.3 6 8.2V9c0 .7.1 1.4.4 2.1l4.8 9.4c.2.3.5.5.9.5s.7-.2.9-.5l4.8-9.4c.1-.7.2-1.4.2-2.1v-.8zm-1.3 2.5L12 20l-4.7-9.3C7.1 10.2 7 9.6 7 9v-.6C7.4 5.9 9.5 4 12 4s4.6 1.9 5 4.4V9c0 .6-.1 1.2-.3 1.7z">
                              </path>
                            </g>
                          </svg>
                        </span>
                        <p class="details-paragraph details-paragraph--location location-details">
                          <strong>Excellent</strong><br>
                          <span>(830 Reviews)</span>
                        </p>
                        <span class="icon-ic slideout-toggle-ic icon-contain"><svg xmlns="http://www.w3.org/2000/svg"
                            focusable="false" tabindex="-1" width="10" height="6" viewBox="0 0 10 6">
                            <path class="svg-color--primary"
                              d="M0 1A.999.999 0 011.707.293L5 3.586 8.293.293a.999.999 0 111.414 1.414l-4 4a.999.999 0 01-1.414 0l-4-4A.997.997 0 010 1"
                              fill="#697379" fill-rule="evenodd"></path>
                          </svg></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="PriceInfo">
                    <h5>Sheraton</h5>
                    <strong> ₹6,899</strong>
                    <span style="float: right;">View Dial</span>
                  </div>
                  <div style="display: flex;">
                    <div class="PriceMain">
                      <div class="BookingCom">
                        <span>Booking.com</span><br>
                        <strong>₹6,899</strong>
                      </div>
                    </div>
                    &nbsp;
                    <div class="PriceMain">
                      <div class="LowPrice">
                        <span>Lowest Price</span><br>
                        <strong>₹6,899</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div> -->
      </div>
      <div class="col-lg-4">
        <div class="MApDiv">
          <!-- <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15125.888028937343!2d73.71246755!3d18.597827900000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1603279405779!5m2!1sen!2sin"
            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe> -->
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="0">
            <agm-marker *ngFor="let hotel of hotelDetails" [latitude]="hotel.latitude" [longitude]="hotel.longitude"
              (markerClick)="clickedMarker(infowindow, hotel)" (mouseOver)="mouseOver(infowindow,hotel)"
              (mouseOut)="mouseOut(infowindow)">
              <agm-info-window #infowindow>
                <strong>{{hotel.street}}</strong>
                <div *ngFor="let img of hotel.images">
                  <img [src]="img.url" alt="" style="width:100%;height: 150px;">
                </div>
              </agm-info-window>
            </agm-marker>
            <agm-direction [origin]="origin" [destination]="destination">
            </agm-direction>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- New Hotel UI End -->

<section class="about_slide">
  <div class="about_slide_overlay">
    <div class="container">
      <h2 class="text-center">Top Most Visited Hotels</h2>
      <div class="underline"></div>
      <div class="slider">
        <div class="col-md-4">
          <div class="slider_card">
            <div class="slider_card_img">
            </div>
            <div class="slider_card-body">
              <h4>Pasin Traditional Hotel</h4>
              <div class="revive_star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star uncheked"></span>
                <span class="fa fa-star unchecked"></span><span class="review">4 Review</span>
              </div>
              <h5>from <span class="cust_color">12.3/day</span></h5>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="slider_card">
            <div class="slider_card_img">
            </div>
            <div class="slider_card-body">
              <h4>Homayouni House</h4>
              <div class="revive_star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star uncheked"></span>
                <span class="fa fa-star unchecked"></span><span class="review">4 Review</span>
              </div>
              <h5>from <span class="cust_color">12.3/day</span></h5>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="slider_card">
            <div class="slider_card_img">
            </div>
            <div class="slider_card-body">
              <h4>Yazd Hostel Restup</h4>
              <div class="revive_star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star uncheked"></span>
                <span class="fa fa-star unchecked"></span><span class="review">4 Review</span>
              </div>
              <h5>from <span class="cust_color">12.3/day</span></h5>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="slider_card">
            <div class="slider_card_img">
            </div>
            <div class="slider_card-body">
              <h4>Iran Cozy Hostel</h4>
              <div class="revive_star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star uncheked"></span>
                <span class="fa fa-star unchecked"></span><span class="review">4 Review</span>
              </div>
              <h5>from <span class="cust_color">12.3/day</span></h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="luxury_we_provide">
  <div class='container'>
    <h2 class="text-center">Luxury We Provide</h2>
    <div class="underline"></div>
    <div class="row">
      <div class="col-md-12">
        <div class="pool_img">
          <div class="pool" style="background-image: url(../../assets/hotel/private_pool.jpg)">
            <div class="bottom-left">
              <h3>Private Pool Suite</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="sea_view_img">
          <div class="sea_view" style="background-image: url(../../assets/hotel/sea_view_site.jpg)">

            <div class="bottom-left">
              <div class="row"></div>
              <h3>Sea View Site</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="spa_img">
          <div class="spa" style="background-image: url(../../assets/hotel/spa.jpg)">
            <div class="bottom-left">
              <h3>Spa</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="restaurant_img">
          <div class="restaurant" style="background-image: url(../../assets/hotel/restaurant.jpg)">
            <div class="bottom-left ">
              <h3>Restaurant</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_slide">
  <div class="about_slide_overlay">
    <div class="container">
      <h2 class="text-center">Latest Discount Hotel</h2>
      <div class="underline"></div>
      <div class="slider">
        <div class="col-md-4">
          <div class="slider_card">
            <div class="slider_card_img">
            </div>
            <div class="slider_card-body">
              <h4>Pasin Traditional Hotel</h4>
              <div class="top-slider-text">
                <h4>50% <span class="discount">off</span></h4>

              </div>
              <div class="revive_star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star uncheked"></span>
                <span class="fa fa-star unchecked"></span><span class="review">4 Review</span>
              </div>
              <h5>Our Lowest Price <span class="cust_color">$605</span></h5>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="slider_card">
            <div class="slider_card_img">
            </div>
            <div class="slider_card-body">
              <h4>Homayouni House</h4>
              <div class="top-slider-text">
                <h4>50% <span class="discount">off</span></h4>

              </div>
              <div class="revive_star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star uncheked"></span>
                <span class="fa fa-star unchecked"></span><span class="review">4 Review</span>
              </div>
              <h5>Our Lowest Price <span class="cust_color">$1205</span></h5>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="slider_card">
            <div class="slider_card_img">
            </div>
            <div class="slider_card-body">
              <h4>Yazd Hostel Restup</h4>
              <div class="top-slider-text">
                <h4>50% <span class="discount">off</span></h4>

              </div>
              <div class="revive_star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star uncheked"></span>
                <span class="fa fa-star unchecked"></span><span class="review">4 Review</span>
              </div>
              <h5>Our Lowest Price <span class="cust_color">$220</span></h5>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="slider_card">
            <div class="slider_card_img">
            </div>
            <div class="slider_card-body">
              <h4>Iran Cozy Hostel</h4>
              <div class="top-slider-text">
                <h4>50% <span class="discount">off</span></h4>

              </div>
              <div class="revive_star">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star uncheked"></span>
                <span class="fa fa-star unchecked"></span><span class="review">4 Review</span>
              </div>
              <h5>Our Lowest Price <span class="cust_color">$65</span></h5>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonial_main">
  <div class="container">
    <h2 class="text-center">Recent Reviews</h2>
    <div class="underline"></div>
    <div class="slideset">
      <div>
        <figure class="testimonial">
          <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.
            <div class="arrow"></div>
          </blockquote>
          <img src="../../../assets/icon/profile.png" alt="Maksim Goffin" />
          <div class="author">
            <h5>Maksim Goffin</h5>
            <p class="th-margin-remove">Graphic Designer</p>
          </div>
        </figure>
      </div>
      <div>
        <figure class="testimonial">
          <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.
            <div class="arrow"></div>
          </blockquote>
          <img src="../../../assets/icon/profile.png" alt="Maksim Goffin" />
          <div class="author">
            <h5>Maksim Goffin</h5>
            <p class="th-margin-remove">Graphic Designer</p>
          </div>
        </figure>
      </div>
      <div>
        <figure class="testimonial">
          <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.
            <div class="arrow"></div>
          </blockquote>
          <img src="../../../assets/icon/profile.png" alt="Maksim Goffin" />
          <div class="author">
            <h5>Maksim Goffin</h5>
            <p class="th-margin-remove">Graphic Designer</p>
          </div>
        </figure>
      </div>
    </div>
  </div>
</section>

<!-- Google map modal -->
<div class="modal fade" style="margin-top: 10% !important;" id="google-map-modal" tabindex="-1" role="dialog"
  aria-labelledby="google-map-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Google Map</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="0">
          <agm-marker *ngFor="let hotel of hotelDetails" [latitude]="hotel.latitude" [longitude]="hotel.longitude"
            (markerClick)="clickedMarker(infowindow, hotel)" (mouseOver)="mouseOver(infowindow,hotel)"
            (mouseOut)="mouseOut(infowindow)">
            <agm-info-window #infowindow>
              <strong>{{hotel.street}}</strong>
              <div *ngFor="let img of hotel.images">
                <img [src]="img.url" alt="" style="width:100%;height: 150px;">
              </div>
            </agm-info-window>
          </agm-marker>
          <agm-direction [origin]="origin" [destination]="destination">
          </agm-direction>
        </agm-map>
      </div>
    </div>
  </div>
</div>