#qu_banner{
    padding-top: 95px;
}
.hero-overlay{
    background: rgba(0, 0, 0, 0.37);
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    padding: 30px 15px;
    color: #fff;
    height: 100%;
}
.hero{
    height: 650px;
    text-align: center;
    color: #fff;
    background-position: center;
    background-size: cover;
}
.hero-content h2 {
    font-size:24px;
    font-weight: 600;
}
.hero-content p a{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}
.underline{
    width: 20%;
    margin: 0px auto;
    height: 2px;
    background: #045091;
    margin-bottom: 30px;
}

/* nav section ends here */


.vehical_btn button{
   background-image: linear-gradient(to right, #16b2fe, #0043db);
   border:none;
   color:#fff;
   padding-left: 50px;
   padding-right: 50px;
   border-radius: 14px;
   margin-top: 20px;
}

/*bus component main page css*/

.instant_easy{
    padding:10px; 
    text-align: center;
}
.instant_easy i{
    font-size: 42px;
    font-weight: 800;
    color: #AF284F;
}
.bus_ul{
    max-width: 10%;
	border-top: 1.7px solid #045091;
	margin-top: 10px;
}
.iron_bus_section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.how_booking_section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.why_get_section{
	padding-top: 50px;
	padding-bottom: 50px;
}
.faq_section{
	padding-top: 50px;
    padding-bottom: 50px;;
}
.faq_question{
	border: solid 1px #ddd;
	padding: 7px;
	border-radius: 5px;
	background-color: #f5f5f5;
}
.need_to_know h4{
    color: #045091;
}
.location_section{
    padding-top: 50px;
}
.location_section .col-md-3{
    border: solid 1px gray;
    border-left: none;
}
.location_section .col-md-3:nth-child(1){
	border-left: solid 1px gray;
	/* border-radius: 10px 0px 0px 10px; */
}
.location_section .col-md-3:nth-child(4){
	padding-bottom: 20px;
	/* border-radius: 0px 10px 10px 0px; */
}
.location_section .col-md-3>div{
    padding:10px 0px;
}
.select_location{
    font-weight: 800;
    margin: 0px;
    font-size: 18px;
}
.sub_locaiton{
    color: gray;
    margin: 0px;
}
.select_date, .select_time, .departure_time{
    margin: 0px;
    font-weight: 600;
}
.form_to{
    color: gray;
    margin: 0px;;
}
.form_to .fa{
	color: #055091;
	font-weight: 800;
	font-size: 16px;
}
.root_icon{
    position: absolute;
    right: -13px;
    bottom: 27px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 2px #DEDEDE;
    border-radius: 50%;
    padding: 5px;
    height: 30px;
    width: 30px;
	text-align: center;
	color: #055091;
}
/* search box */
.border_mid {
    border-right: 2px solid #055091;
}
.search_tab_input input{
    border: none;
    box-shadow: none;
    outline: none;
    background: #fff;
}
.search_filed {
    margin: 20px 0px;
}
.search_btn {
    padding: 0px;
}
.btn_search {
    width: 100%;
    background: #af284f;
    padding: 43px 12px;
    color: #fff;
    font-weight: 600;
    outline: none;
    border-radius: 3px;
    border: none;
}
.search_tab  li{
    float: left;
    list-style: none ;
}
.search_tab  li i{
    margin-top: 4px;
    color: #777777;
    font-size: 20px;
}
.search_box_section {
    padding: 30px 0;
    background: #fff;
}
.searchbox{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    background: #e5e5e5;
}
.searchbox i {
    display: inline-flex;
    font-size: 28px;
}
.search_filed input {
    padding: 5px;
}
.custome_control{
    margin-left: 10px;
}
select.custom-select {
    padding: 6px;
    width: 120px;
}
/* Slider */
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}
.slick-track:before, .slick-track:after {
	display: table;
	content: '';
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
.testimonial_main.slick-next.slick-arrow {
    display: none;
}
.testimonial_main {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay_testimonial {
    background: rgba(0, 0, 0, 0.85);
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    padding: 50px 0px;
}
.overlay_testimonial h2 {
    text-align: center;
    color: #fff;
}
figure.testimonial {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	padding: 0 20px;
	text-align: left;
	box-shadow: none !important;
}
figure.testimonial * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.testimonial img {
	max-width: 100%;
	vertical-align: middle;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	margin: 40px 0 0 10px;
}
figure.testimonial blockquote {
	background-color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	margin: 0;
	padding: 25px 50px 30px;
	position: relative;
}
figure.testimonial blockquote:before, figure.testimonial blockquote:after {
	content: "\201C";
	position: absolute;
	color: #2b00f7;
	font-size: 50px;
	font-style: normal;
}
figure.testimonial blockquote:before {
	top: 25px;
	left: 20px;
}
figure.testimonial blockquote:after {
	content: "\201D";
	right: 20px;
	bottom: 0;
}
figure.testimonial .arrow {
	top: 100%;
	width: 0;
	height: 0;
	border-left: 0 solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid #fff;
	margin: 0;
	position: absolute;
}
figure.testimonial .author {
	position: absolute;
	bottom: 45px;
	padding: 0 10px 0 120px;
	margin: 0;
	color: #ffffff;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
}
figure.testimonial .author h5 {
	opacity: 0.9;
	margin: 0;
}
figure.testimonial .author h5 span {
	font-weight: 400;
	text-transform: none;
	padding-left: 5px;
}



/*top section*/
.banner_overlay{
    background: rgba(0, 0, 0, 0.37);
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    padding: 30px 15px;
    color: #fff;
    height: 100%;
}
.banner_overlay h4 {
	font-size:24px;
}
.banner{
    height: 600px;
    text-align: center;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-image:url('../../assets/about_iran/bus_banner.jpg');
}
#qu_banner{
    padding-top: 95px;
}
.top_destination h2{
    text-align: center;
    margin-top: 0px;
}
.underline {
    width: 20%;
    margin: 0px auto;
    height: 2px;
    background: #045091;
    margin-bottom: 30px;
}
.top_destination {
    padding: 50px 0px;
}
.top_destination_content {
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 30px;
}
.overlay_top_destination {
    background: #293d4e66;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    padding: 30px 15px;
    color: #fff;
    height: 100%;
    border-radius: 10px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45);
    transition: .3s;
}
.top_destination_content h3{
    font-size: 25px;
    line-height: 50px;
    position: absolute;
    bottom: 19px;
    text-align: center;
}


/*media query for tab view*/
@media only screen and (max-width: 991px) {
    .location_section .col-md-3:nth-child(3){
        border-left: solid 1px gray;
    }
    .location_section .col-md-3:nth-child(4){
		border-left: solid 1px gray;
		border-radius: 0;
	} 
	.location_section .col-md-3:nth-child(1){
        border-radius: 0;
    }
    .location_section .col-md-3:nth-child(4){
        border-left: solid 1px gray;
    }   
    
}
@media screen and (max-width: 767px) {
	
	.bus_page_title{
		padding-bottom: 0px;
	}
	.location_section .col-md-3:nth-child(3){
        border-left: solid 1px gray;
	}
	.location_section .col-md-3:nth-child(4){
        border-left: solid 1px gray;
	}
	.location_section .col-md-3:nth-child(1){
        border-radius: 0;
	}
	.location_section .col-md-3:nth-child(4){
        border-radius: 0;
	}
	.how_booking_section, .why_get_section, .iron_bus_section, .faq_section, .overlay_testimonial, .get_update_overlay{
        padding-top: 30px;
        padding-bottom: 30px;
	}
	h2 {
        margin-top: 0px;
        font-size:22px;
    }
  }
