<section>
  <div class="banner" width="100%">
    <div class="banner_overlay">
      <div class="container">
        <div class="content_bann">
          <!-- <h2>About Us</h2>
            <p><a href="#">Home</a> > <a href="#">About Us</a></p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<div class="search_box_section">
  <div class="container">
    <form [formGroup]="searchFlightForm" (submit)="onSearchFlight(searchFlightForm)">
      <div class="searchbox row">
        <div class="col-md-7 col-sm-6 col-xs-6 border_mid search_filed mbl_pad">
          <div class="col-md-6 col-sm-12 col-xs-12">
            <label for="username">Origin:</label><br>
            <i class="fa fa-map-marker" aria-hidden="true"><input type="text" formControlName="origin" id="origin"
                name="origin" class="form-control custome_control" placeholder="Enter your origin"></i>
            <!-- Origin Validation  Start -->
            <div *ngIf="isSubmitted && !searchFlightForm.controls['origin'].valid">
              <span *ngIf="searchFlightForm.controls['origin'].hasError('required')" class="form-control-validation">
                Origin is required
              </span>
            </div>
            <!-- End Origin Valiation End -->
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <label for="username">Destination:</label><br>
            <i class="fa fa-map-marker" aria-hidden="true"><input type="text" id="destination" name="destination"
                formControlName="destination" class="form-control custome_control"
                placeholder="Enter your destination"></i>
            <!-- Destination Validation  Start -->
            <div *ngIf="isSubmitted && !searchFlightForm.controls['destination'].valid">
              <span *ngIf="searchFlightForm.controls['destination'].hasError('required')"
                class="form-control-validation">
                Destination is required
              </span>
            </div>
            <!-- End Destination Valiation End -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-6 search_filed mbl_pad">
          <div class="col-md-12 col-sm-12 col-xs-12 mb-20">
            <label for="username">Depart</label><br>
            <input type="date" class="date_birth datepicker" formControlName="depart" id="depart" name="depart">
            <!-- Depart Validation  Start -->
            <div *ngIf="isSubmitted && !searchFlightForm.controls['depart'].valid">
              <span *ngIf="searchFlightForm.controls['depart'].hasError('required')" class="form-control-validation">
                Depart is required
              </span>
            </div>
            <!-- End Depart Valiation End -->
          </div>

        </div>
        <div class="col-md-1 col-sm-12 col-xs-12 search_btn">
          <button type="submit" class="btn btn_search">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="why_get_section">
  <div class="bus_page_title">
    <h2 class="text-center">Why get Bus Tickets with Persiabooking</h2>
    <div class="underline"></div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="instant_easy">
          <i class="fa fa-bolt" aria-hidden="true"></i>
          <h4>Instant and Easy</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="instant_easy">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
          <h4>Instant and Easy</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="instant_easy">
          <i class="fa fa-usd" aria-hidden="true"></i>
          <h4>Instant and Easy</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="how_booking_section">
  <div class="bus_page_title">
    <h2 class="text-center">Get ready to travel in 4 simple steps</h2>
    <div class="underline"></div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="instant_easy">
          <i class="fa fa-search" aria-hidden="true"></i>
          <h4>Select origin and destination</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="instant_easy">
          <i class="fa fa-compress" aria-hidden="true"></i>
          <h4>Choose the most suitable service </h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="instant_easy">
          <i class="fa fa-ticket" aria-hidden="true"></i>
          <h4>Set your seat / Get your ticket</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="iron_bus_section">
  <div class="bus_page_title col-md-12">
    <h2 class="text-center">All you need to know is to get on a bus in Iron</h2>
    <div class="underline"></div>
    <div class="clearfix"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="need_to_know">
          <h4>Booking Iraning domestic Buses</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusamus commodi deserunt iure maxime rem cum
            at sapiente, assumenda corporis consequuntur ducimus quae odit ratione tenetur autem cumque alias delectus.
          </p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi unde, rem iste aut eius optio minus
            excepturi provident vitae illo nulla consequatur, voluptate soluta tenetur enim cum alias delectus non?</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="need_to_know">
          <h4>Booking Iraning domestic Buses</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusamus commodi deserunt iure maxime rem cum
            at sapiente, assumenda corporis consequuntur ducimus quae odit ratione tenetur autem cumque alias delectus.
          </p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi unde, rem iste aut eius optio minus
            excepturi provident vitae illo nulla consequatur, voluptate soluta tenetur enim cum alias delectus non?</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="need_to_know">
          <h4>Booking Iraning domestic Buses</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusamus commodi deserunt iure maxime rem cum
            at sapiente, assumenda corporis consequuntur ducimus quae odit ratione tenetur autem cumque alias delectus.
          </p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi unde, rem iste aut eius optio minus
            excepturi provident vitae illo nulla consequatur, voluptate soluta tenetur enim cum alias delectus non?</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="need_to_know">
          <h4>Booking Iraning domestic Buses</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos accusamus commodi deserunt iure maxime rem cum
            at sapiente, assumenda corporis consequuntur ducimus quae odit ratione tenetur autem cumque alias delectus.
          </p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi unde, rem iste aut eius optio minus
            excepturi provident vitae illo nulla consequatur, voluptate soluta tenetur enim cum alias delectus non?</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="top_destination">
  <div class="container">
    <div class="row">
      <h2>Top Destination</h2>
      <div class="underline"></div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home2.jpg)">
          <div class="overlay_top_destination">
            <h3>Tehran</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home3.jpg)">
          <div class="overlay_top_destination">
            <h3>Isfashan</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home1.jpg)">
          <div class="overlay_top_destination">
            <h3>Shiraz</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home.jpg)">
          <div class="overlay_top_destination">
            <h3>Tehran</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home6.jpg)">
          <div class="overlay_top_destination">
            <h3>Isfashan</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="top_destination_content" style="background-image: url(../../../assets/home/home5.jpg)">
          <div class="overlay_top_destination">
            <h3>Shiraz</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Frequently asked Question -->
<div class="faq_section">
  <div class="bus_page_title col-md-12">
    <h2 class="text-center">Frequently asked Question</h2>
    <div class="underline"></div>

  </div>
  <div class="clearfix"></div>
  <div class="container">
    <h4 class="faq_question" data-toggle="collapse" data-target="#demo1">What are the differance betweenstandard & VIP
      class Buses? <span class="pull-right">+</span></h4>
    <div id="demo1" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>

  <div class="container">
    <h4 class="faq_question" data-toggle="collapse" data-target="#demo2">What are the differance betweenstandard & VIP
      class Buses? <span class="pull-right">+</span></h4>
    <div id="demo2" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>

  <div class="container">
    <h4 class="faq_question" data-toggle="collapse" data-target="#demo3">What are the differance betweenstandard & VIP
      class Buses? <span class="pull-right">+</span></h4>
    <div id="demo3" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>

  <div class="container">
    <h4 class="faq_question" data-toggle="collapse" data-target="#demo4">What are the differance betweenstandard & VIP
      class Buses? <span class="pull-right">+</span></h4>
    <div id="demo4" class="collapse">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
  </div>
</div>


<section class="testimonial_main" style="background-image: url('../../../assets/back_ground.jpg');">
  <div class="overlay_testimonial">
    <div class="container">
      <h2>Customer Reviews</h2>
      <div class="underline"></div>
      <div class="slideset">
        <div>
          <figure class="testimonial">
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur.
              <div class="arrow"></div>
            </blockquote>
            <img src="../../../assets/icon/profile.png" alt="Maksim Goffin" />
            <div class="author">
              <h5>Maksim Goffin</h5>
              <p class="th-margin-remove">Graphic Designer</p>
            </div>
          </figure>
        </div>
        <div>
          <figure class="testimonial">
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur.
              <div class="arrow"></div>
            </blockquote>
            <img src="../../../assets/icon/profile.png" alt="Maksim Goffin" />
            <div class="author">
              <h5>Maksim Goffin</h5>
              <p class="th-margin-remove">Graphic Designer</p>
            </div>
          </figure>
        </div>
        <div>
          <figure class="testimonial">
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur.
              <div class="arrow"></div>
            </blockquote>
            <img src="../../../assets/icon/profile.png" alt="Maksim Goffin" />
            <div class="author">
              <h5>Maksim Goffin</h5>
              <p class="th-margin-remove">Graphic Designer</p>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- New Section For FormArray -->
<!-- <div class="container">
  <section class="mt-2">
    <form [formGroup]="registrationForm" (submit)="onRegisterSubmit(registrationForm)">
      <div formArrayName="registerFormArr"
        *ngFor="let arr of registrationForm.get('registerFormArr').controls; let i = index">
        <div [formGroupName]="i">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstname">First Name</label>
              <input type="text" formControlName="firstName" class="form-control" id="firstName" required
                placeholder="Enter First Name"> 
              <div *ngIf="isSubmitted && !registrationForm.controls['firstName'].valid">
                <span *ngIf="registrationForm.controls['firstName'].hasError('required')"
                  class="form-control-validation">
                  First name is required
                </span>
              </div> 
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">Last Name <i class="glyphicon glyphicon-trash" (click)="removeArr(i)"></i></label>
              <input type="text" class="form-control" formControlName="lastName" id="lastName" required
                placeholder="Enter Last Name"> 
              <div *ngIf="isSubmitted && !registrationForm.controls['lastName'].valid">
                <span *ngIf="registrationForm.controls['lastName'].hasError('required')"
                  class="form-control-validation">
                  Last name is required
                </span>
              </div> 
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" formControlName="email" id="email" required
                placeholder="Enter Email Address"> 
              <div *ngIf="isSubmitted && !registrationForm.controls['email'].valid">
                <span *ngIf="registrationForm.controls['email'].hasError('required')" class="form-control-validation">
                  Email is required
                </span>
                <span *ngIf="registrationForm.controls['email'].hasError('pattern')" class="form-control-validation">
                  Please enter valid email
                </span>
              </div> 
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" formControlName="password" id="password" required
                placeholder="Enter Password"> 
              <div *ngIf="isSubmitted && !registrationForm.controls['password'].valid">
                <span *ngIf="registrationForm.controls['password'].hasError('required')"
                  class="form-control-validation">
                  Password is required
                </span>
                <span *ngIf="registrationForm.controls['password'].hasError('minlength')"
                  class="form-control-validation">
                  Password should be greator than 6 characters
                </span>
              </div> 
            </div>
            <div class="form-group">
              <label for="confirmpass">Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"
                required placeholder="Enter Confirm Password">  
              <div *ngIf="isSubmitted && !registrationForm.controls['confirmPassword'].valid">
                <span *ngIf="registrationForm.controls['confirmPassword'].hasError('required')"
                  class="form-control-validation">
                  Confirm password is required
                </span>
                <span *ngIf="registrationForm.controls['confirmPassword'].hasError('minlength')"
                  class="form-control-validation">
                  Confirm password should be greator than 6 characters
                </span>
                <span class="form-control-validation"
                  *ngIf="registrationForm.controls['confirmPassword'].hasError('mustMatch')">Password and
                  confirm password should be same</span>
              </div> 
            </div>
          </div>
        </div>


      </div>

      <div class="sing_in_btn text-center">
        <button type="submit" class="btn vertical_btn">Sing Up</button>
        <button type="button" class="btn vertical_btn" (click)="addNewFormArray()">Add</button>
      </div>
    </form>
  </section>
</div> -->